<main>
<section class="one">
    <h1 id="subtitle">Welcome to CSE Motors!</h1>
    <div class="delorean">
        <img src="../images/vehicles/delorean.jpg" alt="DeLorean car">
    <div class="DMC">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Super doors</p>
        <p>Fuzzy dicel</p>
        <a href="https://delorean.com/" target="_blank">
            <img src="../public/images/site/own_today.png" alt="own_today">
        </a>
    </div>
    </div>
</section>

<article class="parts">
<section class="two">
    <h1 id="subtitle">DMC delorean Reviews</h1>
    <div class="text">
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day" (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</section>

<section class="three">
    <h1 id="subtitle">Delorean Upgrades</h1>
    <div class="text">
        <div class="A">
            <img src="../public/images/upgrades/flux-cap.png" alt="feeling">
            <a href="https://delorean.com/">Flux Capacitor</a>
        </div>
        <div class="B">
            <img src="../public/images/upgrades/flame.jpg" alt="flux-cap">
            <a href="https://delorean.com/">Flame Decals</a>
        </div>
        <div class="C">
            <img src="../public/images/upgrades/bumper_sticker.jpg" alt="bumper_sticker">
            <a href="https://delorean.com/">Bumper Stickers</a>
        </div>
        <div class="D">
            <img src="../public/images/upgrades/hub-cap.jpg" alt="hub-cap">
            <a href="https://delorean.com/">Hub Caps</a>
        </div>
    </div>
</section>
</article>
</main>