/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Literata:opsz@7..72&display=swap");

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary-background: #fff;
  --main-accent: #01b0d3;
  --body-font: Inter;
  --primary-text: #242333;
  /* Added for header.ejs */
  --heading-font: Literata;
  /* Added for main content area (index.ejs) */
  --valid: rgb(173, 243, 173);
  --invalid: rgb(240, 200, 207);
}

body {
  font-family: var(--body-font), sans-serif;
  margin: 0;
}

#wrapper {
  width: 95%;
  background-color: var(--primary-background);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}

/* BEGIN header.ejs styles */
#top-header {
  display: flex;
  justify-content: space-between;
}

.siteName {
  font-size: 2rem;
  font-weight: 800;
}

#tools {
  font-size: 3.5vw;
  font-variant: small-caps;
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}

header>img {
  max-width: 40%;
}

header a {
  text-decoration: none;
  color: var(--primary-text);
  display: inline-block;
  padding: 2vh 0;
}

/* END header.ejs styles */

/* BEGIN navigation.ejs style */
nav {
  background-color: var(--primary-text);
  color: var(--primary-background);
}

nav ul {
  display: flex;
  padding: 0 1vw;
  justify-content: space-around;
}

nav li {
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;
}

nav a {
  color: var(--primary-background);
  text-decoration: none;
  font-size: .85rem;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* END navigation.ejs style */

/* BEGIN footer.ejs style */
footer {
  margin-top: 2rem;
}

footer p {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

hr {
  border: 2px solid var(--primary-text);
  margin: 0;
}

/* END footer.ejs style */

/* BEGIN index.ejs styles */
img {
  max-width: 100%;
}

h1,
h2 {
  font-size: 1.2em;
  font-family: var(--heading-font), serif;
}

#hero {
  background-image: url("/images/vehicles/delorean.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#hero h2 {
  margin-left: 0;
}

#hero a:hover {
  opacity: 0.5;
}

#hero li {
  list-style: none;
  color: var(--main-accent);
}

#hero li h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--main-accent);
}

#hero ul {
  padding-left: 0;
  margin-top: 0;
  max-width: 200px;
  margin-left: 0.5em;
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
}

#hero li {
  font-size: 0.85em;
}

#actionbtn {
  display: inline-block;
  max-width: 25vw;
  max-height: 10vh;
  padding: 0.5rem;
  background-color: var(--main-accent);
  color: var(--primary-text);
  font-weight: 800;
  border-radius: 0.25rem;
}

#actionbtn:hover {
  opacity: 0.5;
}

/* For Delorian list */
section ul {
  padding: 0 0 0 1rem;
}

#review li {
  font-size: 0.9em;
  margin-bottom: 1em;
}

.flex {
  display: flex;
  margin-bottom: 2em;
  justify-content: center;
  width: 100%;
  padding-left: 0.25em;
}

.flex a {
  width: 100%;
}

.add-col {
  background-color: var(--main-accent);
  height: 5.5em;
  width: 95%;
  border: var(--primary-text) solid 1px;
}

a figure {
  margin: 0;
}

figure img {
  display: block;
  margin: auto;
  padding-top: 0.5em;
}

figure figcaption {
  text-align: center;
}

section {
  margin-bottom: 2em;
  margin-top: 1em;
}

/* END index.ejs styles */

/* BEGIN classification styles */
#inv-display {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#inv-display li {
  margin-bottom: .5em;
  border: 1px #ccc solid;
  list-style-type: none;
  flex: 1 1 auto;
  text-align: center;
}

#inv-display li img {
  object-fit: fill;
}

/* END classification styles */

/* BEGIN detail styles */
#detail {
  display: flex;
  align-items: start;
  position: relative;
  flex-direction: column;
}

#vehicle-display img {
  max-width: 100%;
}

#vehicle-display ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#vehicle-display li {
  margin: 0;
  padding: 1rem;
}

#vehicle-display h4 {
  display: inline-block;
  font-size: large;
  margin: 0;
  font-weight: 800;
}

#vehicle-display li:nth-child(odd) {
  background-color: #f5f5f5;
}
/* END detail styles */

/*BEGIN account styles*/
#loginContainer {
  max-width: 25rem;
  margin: 0 auto;
  padding: 1rem .5rem;
  background-color: var(--main-accent);
  font-size: larger;
  border-radius: .5rem;
}

/* END account styles*/

/*BEGIN form styles*/
form {
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}

fieldset {
  display: block;
  min-inline-size: min-content;
  margin-inline: 2px;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
  padding-block: 0.35em 0.625em;
  padding-inline: 0.75em;
}

label {
  cursor: default;
}

:is(fieldset) input,
:is(fieldset) div,
:is(fieldset) span,
:is(fieldset) textarea,
:is(fieldset) select {
  margin-bottom: .75rem;
}

input:not([type="image"], [type="range"], [type="checkbox"], [type="radio"]) {
  overflow-clip-margin: 0px !important;
  overflow: clip !important;
}

input[type="text"] {
  padding-block: 1px;
  padding-inline: 2px;
}

input[type="email"] {
  padding-block: 1px;
  padding-inline: 2px;
}

input[type="password"] {
  -webkit-text-security: disc !important;
  padding-block: 1px;
  padding-inline: 2px;
}

input {
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em 0em 0em 0em;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding-block: 1px;
  padding-inline: 2px;
}

input:required:invalid,
input:focus:invalid {
  text-decoration-color: var(--primary-text);
  background-position: right top;
  background-repeat: no-repeat;
}

input:required:valid {
  text-decoration-color: red; 
  background-position: right top;
  background-repeat: no-repeat;
}

#pswdBtn {
  width: 12rem;
  height: 40px;
  padding: .5rem;
  border: 1px solid var(--primary-text);
  background-color: var(--primary-text);
  color: var(--primary-background);
  border-radius: 20px;
}

/*BEGIN register styles*/
#registerContainer {
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem .5rem;
  background-color: var(--main-accent);
  font-size: larger;
  border-radius: .5rem;
}

#registerContainer p {
    font-style: italic;
    font-variant: small-caps;
}

#registerContainer button {
  font-size: larger;
  margin-top: 1rem;
}
/* END register styles*/

@media only screen and (min-width: 768px) {
  body {
    background-image: linear-gradient(45deg, #000 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #000 75%),
      linear-gradient(45deg, transparent 75%, #000 75%),
      linear-gradient(45deg, #000 25%, #fff 25%);
    background-size: 100px 100px;
    background-position: 0 0, 0 0, -50px -50px, 50px 50px;
  }

  #wrapper {
    border: 5px solid var(--main-accent);
    border-radius: 10px;
    margin-top: 1rem;
    padding: 1vw;
    width: 75vw;
    max-width: 1200px;
  }

  /* BEGIN header.ejs styles */
  #tools {
    font-size: inherit;
  }

  /* END header.ejs styles */

  /* BEGIN navigation.ejs styles */
  nav {
    margin-top: 0.75rem;
  }

  nav ul {
    justify-content: space-evenly;
    padding: 0.5rem 0;
    margin: 0;
  }

  nav li {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  nav a {
    display: inline-block;
    width: 4.5em;
    padding: .25rem 0;
    font-size: 1rem;
  }

  nav a:hover {
    color: var(--primary-text);
    background-color: var(--primary-background);
  }

  /* END navigation.ejs styles */

  /* BEGIN index.ejs styles */
  #hero ul {
    font-size: 1.6em;
    margin-left: 2em;
    margin-top: 1em;
  }

  #actionbtn {
    display: block;
    width: 90%;
    margin-top: 1.5em;
    padding: 1rem;
    background-color: var(--main-accent);
    color: var(--primary-text);
    font-weight: 800;
    font-size: large;
  }

  /* END index.ejs styles */

  /* BEGIN classification styles */
  #inv-display {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  #inv-display h2 {
    font-size: 1rem;
  }

  #inv-display li {
    max-width: 200px;
    flex: 1 0 auto;
    text-align: center;
    height: 250px;
    display: grid;
    border-radius: 10px;
  }

  #inv-display a {
    height: 150px;
  }

  #inv-display img {
    border-radius: 10px 10px;
  }

  #inv-display div {
    width: 100%;
    height: 100px;
  }

  /* END classification styles */

  /* BEGIN detail styles */
  #detail #vehicle-display {
    margin: 0 0 1rem;
  }

  #vehicle-display>div {
    display: flex;
  }

  .imagePrice {
    flex: 1 0 45%;
    margin-right: 1rem;
  }

  #vehicle-display #mainImage {
    width: auto;
    object-fit: contain;
  }

  /* END detail styles */
}